<%# Normal way %>
<%# <h1>About</h1> %>

<%# Example of adding Dynamic value from controller to view %>
<h1><%= @title %></h1>

<%# <p>This is a regular paragraph.</p>  %>

<%# This is a dynamic paragraph  %>
<p><%= @content %></p>